<style>
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .board {
    display: flex;
    margin: 15px;
  }

  .board-col {
    display: flex;
    flex-direction: column;
  }

  .board-cell {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    width:20px;
    height:20px;
    background-color: black;
  }
</style>

<div class="main">
  <h1>Athennian's {{title}}</h1>

  <input type="file" name="p1">
  <input type="file" name="p2">
  <button (click)='reset()'>RESET</button>


  <div class="board">
    <div class="board-col" *ngFor="let row of grid">
      <div class="board-cell" style="background-color: {{cell?.color || 'black'}};" *ngFor="let cell of row">

      </div>
    </div>

  </div>
</div>
